################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RouteCalculator/.vs/RouteCalculator/v16
/RouteCalculator/RouteCalculator/obj
